@media (max-width: 560px) {

    #navbar-head ,
    #navbar-tail {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #navbar-head .navbar-head-right {
        display: flex;
        flex-direction: column;
    }

    #navbar-head span a,
    #navbar-tail ul li a  {
        font-size: 14px;
        padding: 5px;
    }

    #navbar-head #search-bar .search-style,
    .search-img {
        padding: 2px;
    }

    .home-section img.home-img,
    .home-section .home-info .home-right-content .home-sections-table {
        margin: 0;
    }

    .home-section .home-info .home-right-content .home-sections-table td {
        padding: 0 3px;
    }

    .blog-article {
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }

    .blog-article .card{
        width: 100%;
    }

    .blog-article .card,
    .blog-article .card .container h4{
        font-size: 14px;
    }

    .blog-article .card .blog-content {
        font-size: 14px;
    }

    .home-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 30px;
    }

    .home-section .home-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #272727;
        margin-top: 20px;
    }

    .home-section img.home-img {
        border: 10px solid #fff;
        height: 250px;
        width: 90%;
    }

    .home-section .home-img-div {
        text-align: center;
    }

    .home-content-div {
        font-size: 28px;
    }

    .graph-section {
        justify-content: center;
    }

    .graph-section .card {
        margin: 10px;
        width: 90%;
    }

    .graph-section h4 {
        font-size: 20px;
    }

    .graph-section .white-card .align-icons p {
        font-size: 12px!important;
    }

    #noti-toggle{
        top: 155px;
    }

    .arrow_box::before {
        top: 124px;
    }

    .owl-carousel .owl-item img:last-child {
        width: 50px;
    }
}

@media (min-width: 551px) and (max-width: 768px) {
    .blog-article {
        display: flex;
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }

    .home-section .home-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #272727;
        margin-top: 20px;
        text-align: center;
    }

    .home-section .home-footer .btn {
        margin: 0 70px;
    }

    .graph-section .card {
        width: 90%;
    }

    .graph-section h4 {
        font-size: 26px;
    }

    .blog-article .card {
        /* font-size: 30px; */
        width: 100%;
    }

    .blog-article .card .container h4 {
        font-size: 24px;
    }

    .blog-article .card .blog-content {
        font-size: 20px;
    }

    .blog-article .card .container .align-icons .icons-size {
        font-size: 20px;
    }
    
    .owl-carousel .owl-item img:last-child {
        width: 50px;
    }
}

@media (max-height: 450px) {
    .graph-section .white-card .align-icons p {
        font-size: 14px;
    }
}